name: FPGA Calculator CI

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install GHDL
        run: |
          sudo apt-get update
          sudo apt-get install -y ghdl
      
      - name: Run Tests
        run: |
          make venv 
          make test